
*{
    background-color:rgb(211, 184, 211) ;
}
h1{
    color: greenyellow;
}
h2{
    color: aqua;
}
pr{
    color: blue;
}
#a{
    color: rgb(152, 93, 21);
}
 .b{
    color: rgb(161, 24, 24);
}
.c{
 color: rgb(101, 181, 21);
}
.d{
    color: rgb(133, 25, 47);
}



 

